body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.ui.inverted.menu {
  border-radius: 0px !important;
  box-shadow: none;
  /* margin-bottom: 0px; */
  /* background-color: var(--primary) !important; */
  height: 64px;
}

.ui.card {
    width: 250px !important;
}

.table-responsive {
  overflow: scroll;
  overflow-x: scroll;
}

.ui.card>.content>.description, 
.ui.cards>.card>.content>.description {
  height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.masthead {
  background-color: #b2bec3;
  width: 100%;
  text-align: center;
}

.masthead-home {
  background: url(/public/img/faces2.jpg) !important;
  border-radius: 0px;
  background-position: 50% 155% !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.overlay-home {
  background-color: var(--primary-overlay);
  width: 100%;
  padding: 10rem 0rem;
}

.masthead-title {
  margin: 0px;
  font-size: 3.5rem !important;
}

.react-html5-camera-photo>img, .react-html5-camera-photo>video {
  width: 100% !important;
}

